doctype html
html(lang="en")
    head
        title Page: #{title}
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/codemirror/lib/codemirror.css")
        link(rel="stylesheet", href="/styles.css")
    body#page
        .container-fluid
            .row
                .cols.col-md-12
                    h3 Page
            .row(data-rv-each-row="model.rows")
                .cols.col-md-12(data-rv-each-modulemodel="row:", data-rv-html="modulemodel:output")
            .row.well
                form
                    .form-group
                        .cols.col-md-12
                            button#save.hide.btn.btn-primary(type="button", data-rv-on-click="view.onSave") Save
                    .form-group
                        .cols.col-md-12
                            h3 Page:
                        .cols.col-md-12
                            .row
                                .cols.col-md-1
                                    button.btn.btn-primary(data-rv-on-click="view.onAddRow") + Row
                            .row(data-rv-each-row="model.rows")
                                .cols.col-md-11.btn-group(role="group", aria-label="row")
                                    button.btn.btn-default >
                                    button.btn.btn-primary(data-rv-on-click="view.onAddModule", data-rv-hide="row.picking") + Module
                                    button.btn.btn-default(type="button", data-rv-each-modulemodel="row:") {{ modulemodel:_id }}
                                .cols.col-md-12.well(data-rv-show="row.picking")
                                    select.form-control.dropdown(data-rv-value="model:selectedModule")
                                        option(data-rv-each-module="row.modules", data-rv-value="module._id", data-rv-text="module._id")


            script(type="text/javascript").
                var preloaded = {
                    title : "#{title}",
                    modules : !{JSON.stringify(modules,null,1)}
                };
        script(src="/vendor/codemirror/lib/codemirror.js")
        script(src="/vendor/codemirror/mode/javascript/javascript.js")
        script(src="/vendor/codemirror/mode/xml/xml.js")
        script(src="/vendor/codemirror/mode/htmlmixed/htmlmixed.js")
        script(src="/vendor/codemirror/mode/jade/jade.js")
        script(type="text/javascript", src="/vendor/requirejs/require.js", data-main="/page")
