doctype html
html(lang="en")
    head
        title Page: #{title}
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/codemirror/lib/codemirror.css")
        link(rel="stylesheet", href="/styles.css")
    body#page
        .container-fluid
            for row in rows
                .row
                    .cols.col-md-12
                        for module in row
                            != module.output

